.button {
    @extend %button;
    @extend %time-function;
    width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 1.8;
    color: getColor('white');
    background: getColor('hover');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    &:hover,
    &:focus {
      @extend %time-function;
    }
  }