.Hero-section__container {
  @extend %container;
  max-width: 650px;
}

.Hero-section {
  max-width: 1600px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 200px 0px;
  justify-content: center;
  background-image: linear-gradient(
      to right,
      getColor('background'),
      getColor('background')
    ),
    url(../images/bgc.jpeg);
  background-color: #2f303a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Hero-section__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: getColor('white');
}
